EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USERNAME=longchaugia2005@gmail.com
CLIENT_ID=495514659433-98t5hvaceskiab3gkpb7002q2rt7p52f.apps.googleusercontent.com
CLIENT_SECRET=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
ACCESS_TOKEN=ya29.A0ARrdaM9OnOTwqrIRHp-3WTyJKZhR-OaMjCSmFVQsWCee1_2PGyPFXP5z60Bbnadw7L6Fxl4qBKlQWkR0FRk4ut8Wco0XRtBoaBuEmMpougaY0Ix0SbqFrW2tX8XuF20CvBYxvuqcRnYZwuumMiogw_dAzYtM
REFRESH_TOKEN=1//0432g721EHW57CgYIARAAGAQSNwF-L9IrVU22HOxvIacynEV5nPylN5Z4bhkuXcwkdykTgmGtHxx2S6qrBUPA7_0UhFtTTtwNdyA

DATABASE=mongodb+srv://longuit2002:longuit2002@cluster0.l7ykg.mongodb.net/booking?retryWrites=true&w=majority
DATABASE_PASSWORD=6aN0vMaozVE2xPhy
EMAIL_FROM=smtp.gmail.com
JWT_COOKIE_EXPIRES_IN=7d
JWT_EXPIRES_IN=30d
JWT_SECRET=my-project-natours-key-secret
NODE_ENV=development
SENDGRID_PASSWORD=
SENDGRID_USERNAME=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
